
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
}
body{
    background-color: rgb(220, 223, 223);
    background-image:url(image/2.jpg ) ;
    background-size: cover;
    
}
#produit{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.livre:hover{
    transform: scale(1.1);
}
#produit{
    padding: 20px;
    margin: 20px;
    background-color: #B6EADA;
    box-shadow: 0 0 10px 1px #B6EADA;
    text-align: center;
}
#produit-img{
    padding: 10px;
    background: black;
    margin-bottom: 20px;
    transition: 0.5s;
}
#produit{
    display: grid;
    grid-template-columns: repeat(3,1fr)
}
#produit-img{
    padding: 10px;
    background: black;
    margin-bottom: 20px;
    transition: 0.5s;
}